* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background-color: #c8decb;
  align-items: center;
  justify-content: center;
}

header {
  height: 5rem;
  padding-top: 10px;
  text-align: center;
  color: #6bce85;
}

.main--container {
  width: 100%;
  display: flex;
  overflow: hidden;
}

nav {
  width: 10%;
  height: 100%;
  margin: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nav--el {
  width: 9rem;
  height: 100px;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

.nav--el:hover {
  cursor: pointer;
}

section {
  overflow: auto;
  width: 90%;
}

section::-webkit-scrollbar {
  width: 10px;
}
section::-webkit-scrollbar-thumb {
  background-color: #6bce85;
  border-radius: 10px;
}
section::-webkit-scrollbar-track {
  background-color: #c8decb;
}

.products {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.product--list {
  list-style: none;
  background-color: rgba(250, 250, 250, 0.5);
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  height: 13rem;
  width: 13rem;
  margin: 5px;
  padding: 5px;
  border-radius: 10px;
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.product--name {
  display: flex;
  align-items: center;
  height: 20%;
  padding: 3px;
}

.product--img {
  height: 10rem;
  width: 10rem;
}

a {
  text-decoration: none;
  color: #418253;
}

form {
  margin: 10px;
}

form > input,
form > button {
  height: 30px;
  padding: 0;
  margin: 0;
  border: solid 1px #6bce85;
}

.search--product {
  padding: 3px;
  border-radius: 3px 0 0 3px;
}

.search--button {
  width: 1.5rem;
  border-radius: 0 3px 3px 0;
  background-color: #6bce85;
}

.search--button:hover {
  cursor: pointer;
}
